@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  @font-face {
    font-family: 'Poppins-Italic';
    src: url('../../assets/fonts/Poppins-Italic.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('../../assets/fonts/Poppins-ExtraBoldItalic.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../../assets/fonts/Poppins-ExtraBold.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('../../assets/fonts/Poppins-BoldItalic.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('../../assets/fonts/Poppins-Bold.ttf');
    font-display: swap;
  }
}
